/*-- scss:rules --*/
.reveal div.sourceCode {
  font-size: 2.4rem !important;
}

.cell-output-display {
  font-size: 2.2rem !important;
  display: block;
  margin-left: 30%;
  margin-right: 25%;
  margin-top: 2.5%;
}
