flake.lock linguist-generated=true
uv.lock linguist-generated=true
ibis/examples/pixi.lock linguist-generated=true
requirements-dev.txt linguist-generated=true
docs/_freeze/**/html.json linguist-generated=true
docs/**/*.excalidraw linguist-generated=true
