conda-lock/*.lock linguist-generated=true
flake.lock linguist-generated=true
poetry.lock linguist-generated=true
requirements.txt linguist-generated=true
docs/backends/app/requirements.txt linguist-generated=false
docs/_freeze/**/html.json linguist-generated=true
docs/**/*.excalidraw linguist-generated=true
