repos:
  - repo: https://github.com/asottile/seed-isort-config
    rev: v1.9.2
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v4.3.17
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 40e8b3a231bade22d838858435a33d60a8325306
    hooks:
      - id: black
        exclude: (ibis/_version|versioneer).py
  - repo: git://github.com/pre-commit/pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: flake8
        types:
          - python
