**/*.toml
.benchmarks
.direnv
.mypy_cache
.pytest_cache
.ruff_cache
ci/udf/CMakeFiles
docs/javascripts/*.js
docs/SUMMARY.md
docs/api/expressions/top_level.md
docs/overrides/*.html
docs/release_notes.md
ibis
poetry.lock
result*
site
*.ipynb
