.benchmarks
.direnv
.mypy_cache
.pytest_cache
.ruff_cache
result*
docs/release_notes.md
docs/overrides/*.html
docs/api/expressions/top_level.md
docs/SUMMARY.md
site
ci/udf/CMakeFiles
poetry.lock
ibis
