**/*.toml
.benchmarks
.direnv
.mypy_cache
.pytest_cache
.ruff_cache
ci/udf/CMakeFiles
docs/javascripts/*.js
docs/SUMMARY.md
docs/api/expressions/top_level.md
docs/overrides/*.html
docs/release_notes.md
docs/_freeze
docs/_publish.yml
docs/.quarto
docs/_output
ibis
result*
*.delta
*.lock
