build: off

platform:
  - x64

environment:
  PGUSER: "postgres"
  PGPASSWORD: "Password12!"
  PGPORT: 5432
  PGHOST: "localhost"

  IBIS_TEST_DOWNLOAD_DIRECTORY: "%USERPROFILE%"
  IBIS_TEST_DOWNLOAD_BASE_URL: "https://storage.googleapis.com/ibis-ci-data"
  IBIS_TEST_DOWNLOAD_NAME: "ibis-testing-data.tar.gz"

  IBIS_TEST_DATA_DIRECTORY: "%USERPROFILE%\\ibis-testing-data"

  IBIS_TEST_POSTGRES_USER: "%PGUSER%"
  IBIS_TEST_POSTGRES_PASSWORD: "%PGPASSWORD%"
  IBIS_TEST_POSTGRES_PORT: "%PGPORT%"
  IBIS_TEST_POSTGRES_HOST: "%PGHOST%"
  IBIS_TEST_POSTGRES_DATABASE: "ibis_testing"

  IBIS_TEST_SQLITE_DATABASE: "%USERPROFILE%\\ibis_testing.db"

  CONDA: "C:\\Miniconda36-x64\\Scripts\\conda"
  ACTIVATE: "C:\\Miniconda36-x64\\Scripts\\activate"

  matrix:
    - PYTHON_VERSION: "2.7"
    - PYTHON_VERSION: "3.4"
    - PYTHON_VERSION: "3.5"
    - PYTHON_VERSION: "3.6"

services:
  - postgresql10

test_script:
  - "C:\\Program Files\\PostgreSQL\\10\\bin\\psql --version"
  - "%CONDA% --version"
  - "%CONDA% config --set always_yes true"
  - "%CONDA% install conda=4.3.22 --channel conda-forge"
  - "%CONDA% create --name \"ibis_%PYTHON_VERSION%\" python=%PYTHON_VERSION% --channel conda-forge"
  - "%ACTIVATE% \"ibis_%PYTHON_VERSION%\""
  - "%CONDA% install pytables"
  - "pip install -e .\"[sqlite, postgres, visualization, pandas, csv, hdf5]\""
  - "pip install flake8 mock pytest click \"pbs==0.110\""
  - "flake8"
  - "python testing\\datamgr.py download"
  - "python testing\\datamgr.py sqlite"
  - "python testing\\datamgr.py postgres"
  - "pytest --tb=short -m \"not impala and not hdfs\" ibis"
