build: off

platform:
  - x64

environment:
  PGPORT: "5432"
  PGHOST: "localhost"
  PGUSER: "postgres"
  PGPASSWORD: "Password12!"

  IBIS_TEST_DOWNLOAD_DIRECTORY: "%USERPROFILE%"
  IBIS_TEST_DOWNLOAD_BASE_URL: "https://storage.googleapis.com/ibis-ci-data"
  IBIS_TEST_DOWNLOAD_NAME: "ibis-testing-data.tar.gz"

  IBIS_TEST_DATA_DIRECTORY: "%USERPROFILE%\\ibis-testing-data"

  IBIS_TEST_POSTGRES_PORT: "%PGPORT%"
  IBIS_TEST_POSTGRES_HOST: "%PGHOST%"
  IBIS_TEST_POSTGRES_USER: "%PGUSER%"
  IBIS_TEST_POSTGRES_PASSWORD: "%PGPASSWORD%"
  IBIS_TEST_POSTGRES_DATABASE: "ibis_testing"

  IBIS_TEST_SQLITE_DATABASE: "%USERPROFILE%\\ibis_testing.db"

  CONDA: "C:\\Miniconda36-x64\\Scripts\\conda"
  ACTIVATE: "C:\\Miniconda36-x64\\Scripts\\activate"

  matrix:
    - PYTHON_VERSION: "2.7"
    - PYTHON_VERSION: "3.4"
    - PYTHON_VERSION: "3.5"
    - PYTHON_VERSION: "3.6"

services:
  - postgresql101

test_script:
  - "set PATH=C:\\Program Files\\PostgreSQL\\10\\bin\\;%PATH%"
  - "psql -c \"SELECT VERSION()\""
  - "%CONDA% --version"
  - "%CONDA% config --set always_yes true"
  - "%CONDA% install conda=4.3.22 --channel conda-forge"
  - "%CONDA% create --name \"ibis_%PYTHON_VERSION%\" python=%PYTHON_VERSION% --channel conda-forge"
  - "%ACTIVATE% \"ibis_%PYTHON_VERSION%\""
  - "%CONDA% install -c conda-forge pytables numpy sqlalchemy psycopg2 graphviz click mock plumbum flake8 pytest"
  - "pip install -e .\"[sqlite, postgres, visualization, pandas, csv, hdf5]\""

  - "flake8"

  - "python testing\\datamgr.py download"
  - "python testing\\datamgr.py parquet"
  - "python testing\\datamgr.py sqlite"
  - "python testing\\datamgr.py postgres"
  - "pytest --tb=short -m \"not backend and not clickhouse and not impala and not hdfs and not bigquery\" -rs ibis"
