[tool.poetry]
name = "ibis-framework"
version = "2.0.0"
packages = [{ include = "ibis" }]
homepage = "https://ibis-project.org"
repository = "https://github.com/ibis-project/ibis"
documentation = "https://ibis-project.org/docs"
description = "Productivity-centric Python Big Data Framework"
authors = ["Ibis Contributors"]
maintainers = ["Ibis Contributors"]
license = "Apache-2.0"
readme = "README.md"
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Operating System :: OS Independent",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Topic :: Scientific/Engineering",
]

[tool.poetry.dependencies]
python = ">=3.7.1,<4"
atpublic = "^2.3"
cached_property = "^1"
importlib-metadata = { version = "^4", python = "<3.8" }
multipledispatch = "^0.6"
numpy = "^1"
pandas = "^1.2.5"
parsy = "^1.3.0"
pytz = "^2021.1"
regex = "^2021.7.6"
cytoolz = { version = "^0.11", python = "<3.10" }
toolz = "^0.11"
clickhouse-driver = { version = ">=0.1,<0.3", optional = true }
clickhouse-sqlalchemy = { version = "^0.1.4", optional = true }
dask = { version = "^2021.2.0", optional = true, extras = [
  "array",
  "dataframe"
] }
geoalchemy2 = { version = ">=0.6,<0.10", optional = true }
geopandas = { version = ">=0.6,<0.11", optional = true }
graphviz = { version = "^0.16", optional = true }
hdfs = { version = "^2", optional = true, extras = ["kerberos"] }
impyla = { version = ">=0.17,<0.19", optional = true, extras = ["kerberos"] }
psycopg2 = { version = "^2.7", optional = true }
pyarrow = { version = ">=1,<7", optional = true }
pymysql = { version = "^1", optional = true }
pyspark = { version = ">=2.4.3,<4", optional = true }
requests = { version = "^2", optional = true }
shapely = { version = "^1.6", optional = true }
sqlalchemy = { version = "~1.3", optional = true } # TODO: this can't be relaxed due to clickhouse-sqlalchemy not supporting 1.4
tables = { version = "^3", optional = true }

[tool.poetry.dev-dependencies]
Sphinx = "^4"
asv = "^0.4"
black = "21.9b0"
click = "^8"
flake8 = "^4.0.0"
ipykernel = "^6"
ipython = "^7"
isort = "^5"
mypy = "0.910"
nbsphinx = "^0.8"
pandas = "^1.2.5"
plumbum = "^1"
pydocstyle = "^6"
pysuerga = "^0.1"
pytest = "^6"
pytest-cov = "^3.0.0"
pytest-mock = "^3"
pytest-randomly = "^3.10.1"
pytest-xdist = "^2"
releases = "^1.6.3"
setuptools = ">=57,<60"
sphinx_rtd_theme = "^1.0.0"
sqlalchemy = "~1.3"
toolz = "^0.11"

[tool.poetry.extras]
all = [
  "clickhouse-driver",
  "clickhouse-sqlalchemy",
  "dask",
  "geoalchemy2",
  "geopandas",
  "graphviz",
  "hdfs",
  "impyla",
  "psycopg2",
  "pyarrow",
  "pymysql",
  "pyspark",
  "requests",
  "shapely",
  "sqlalchemy",
  "tables",
]
clickhouse = ["sqlalchemy", "clickhouse-sqlalchemy", "clickhouse-driver"]
csv = []
dask = ["dask", "pyarrow"]
geospatial = ["geoalchemy2", "geopandas", "shapely"]
hdf5 = ["tables"]
impala = ["hdfs", "sqlalchemy", "requests", "impyla"]
mysql = ["sqlalchemy", "pymysql"]
pandas = []
parquet = ["pyarrow"]
postgres = ["sqlalchemy", "psycopg2"]
pyspark = ["pyspark", "pyarrow"]
sqlite = ["sqlalchemy"]
visualization = ["graphviz"]

[tool.poetry.plugins."ibis.backends"]
clickhouse = "ibis.backends.clickhouse"
csv = "ibis.backends.csv"
dask = "ibis.backends.dask"
hdf5 = "ibis.backends.hdf5"
impala = "ibis.backends.impala"
mysql = "ibis.backends.mysql"
pandas = "ibis.backends.pandas"
parquet = "ibis.backends.parquet"
postgres = "ibis.backends.postgres"
pyspark = "ibis.backends.pyspark"
spark = "ibis.backends.pyspark"
sqlite = "ibis.backends.sqlite"

[tool.pytest.ini_options]
xfail_strict = true
addopts = [
  "--ignore=site-packages",
  "--ignore=dist-packages",
  "--strict-markers"
]
norecursedirs = ["site-packages", "dist-packages"]
markers = [
  "backend",
  "geo",
  "hdfs",
  "kudu",
  "min_spark_version",
  "only_on_backends",
  "skip_backends",
  "skip_missing_feature",
  "superuser",
  "udf",
  "xfail_backends",
  "xfail_unsupported",
  "xpass_backends",
]

[tool.black]
line_length = 79
skip_string_normalization = true
exclude = ".+\\.ipynb"

[tool.isort]
ensure_newline_before_comments = true
line_length = 79
multi_line_output = 3
include_trailing_comma = true
profile = "black"

[tool.pydocstyle]
inherit = false
convention = "numpy"
match_dir = "ibis"
add_ignore = ["D100", "D101", "D102", "D103", "D104", "D105"]

[tool.conda-lock]
channels = ["conda-forge"]

[build-system]
requires = ["poetry>=1.1", "setuptools>=57,<59"]
build-backend = "poetry.masonry.api"
