[tool.poetry]
name = "ibis-framework"
version = "3.0.1"
packages = [{ include = "ibis" }]
homepage = "https://ibis-project.org"
repository = "https://github.com/ibis-project/ibis"
documentation = "https://ibis-project.org"
description = "Productivity-centric Python Big Data Framework"
authors = ["Ibis Contributors"]
maintainers = ["Ibis Contributors"]
license = "Apache-2.0"
readme = "README.md"
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Operating System :: OS Independent",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
  "Topic :: Scientific/Engineering",
]

[tool.poetry-dynamic-versioning]
enable = true
dirty = true
style = "semver"
pattern = "^(?P<base>\\d+(\\.\\d+)*)"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
atpublic = ">=2.3,<4"
cached_property = ">=1,<2"
importlib-metadata = { version = ">=4,<5", python = "<3.10" }
multipledispatch = ">=0.6,<0.7"
numpy = ">=1,<2"
packaging = ">=21.3,<22"
pandas = ">=1.2.5,<2"
parsy = ">=1.3.0,<2"
poetry-dynamic-versioning = ">=0.14.0,<1"
pydantic = ">=1.9.0,<2"
regex = ">=2021.7.6"
tabulate = ">=0.8.9,<1"
toolz = ">=0.11,<0.12"
clickhouse-cityhash = { version = ">=1.0.2,<2", optional = true }
clickhouse-driver = { version = ">=0.1,<0.3", optional = true }
dask = { version = ">=2021.10.0", optional = true, extras = [
  "array",
  "dataframe"
] }
datafusion = { version = ">=0.4,<0.6", optional = true }
duckdb = { version = ">=0.3.2,<0.4.0", optional = true }
duckdb-engine = { version = ">=0.1.8,<0.2.0", optional = true }
fsspec = { version = ">=2022.1.0", optional = true }
GeoAlchemy2 = { version = ">=0.6.3,<0.12", optional = true }
geopandas = { version = ">=0.6,<0.11", optional = true }
graphviz = { version = ">=0.16,<0.21", optional = true }
impyla = { version = ">=0.17,<0.19", optional = true, extras = ["kerberos"] }
lz4 = { version = ">=3.1.10,<5", optional = true }
psycopg2 = { version = ">=2.8.4,<3", optional = true }
pyarrow = { version = ">=1,<8", optional = true }
pymysql = { version = ">=1,<2", optional = true }
pyspark = { version = ">=3,<4", optional = true }
requests = { version = ">=2,<3", optional = true }
Shapely = { version = ">=1.6,<1.8.2", optional = true }
sqlalchemy = { version = ">=1.4,<2.0", optional = true }

[tool.poetry.dev-dependencies]
absolufy-imports = "^0.3.1"
black = ">=22.1.0,<23"
click = ">=8.0.1,<9"
commitizen = ">=2.20.3,<3"
flake8 = ">=4.0.0,<5"
ipdb = "^0.13.9"
ipykernel = ">=6,<7"
ipython = ">=7.27.0,<9"
isort = ">=5.9.3,<6"
# jinja2 is necessary because of
# https://github.com/mkdocstrings/mkdocstrings/issues/414
Jinja2 = "<3"
# necessary because of breakage in 2.1.0:
# https://markupsafe.palletsprojects.com/en/2.1.x/changes/#version-2-1-0
MarkupSafe = "<2.1"
mike = ">=1.1.2,<2"
mkdocs = ">=1.2.3,<2"
mkdocs-exclude = ">=1.0.2,<2"
mkdocs-gen-files = ">=0.3.4,<0.4.0"
mkdocs-git-revision-date-localized-plugin = ">=1.0.1,<2"
mkdocs-jupyter = ">=0.20.0,<1"
mkdocs-literate-nav = ">=0.4.1,<1"
mkdocs-macros-plugin = ">=0.6.3,<1"
mkdocs-material = ">=8.2.1,<9"
mkdocs-table-reader-plugin = ">=1.0.0,<2"
mkdocstrings = ">=0.17.0,<0.18.0"
mypy = "0.950"
platformdirs = ">=2,<2.5.2"
pyarrow = ">=1,<8"
pydocstyle = ">=6.1.1,<7"
pymdown-extensions = ">=9.1,<10"
pytest = ">=7.0.0,<8"
pytest-benchmark = ">=3.4.1,<4"
pytest-cov = ">=3.0.0,<4"
pytest-mock = ">=3.6.1,<4"
pytest-profiling = ">=1.7.0,<2"
pytest-randomly = ">=3.10.1,<4"
pytest-repeat = ">=0.9.1,<0.10"
pytest-xdist = ">=2.3.0,<3"
pytkdocs = { version = ">=0.15.0,<0.17.0", extras = ["numpy-style"] }
pyupgrade = ">=2.26.0,<3"
requests = ">=2,<3"
setuptools = ">=57,<63"
sqlalchemy = ">=1.4,<2.0"
sqlparse = ">=0.4.2,<0.5.0"
tomli = ">=2.0.1,<3"

[tool.poetry.extras]
all = [
  "clickhouse-cityhash",
  "clickhouse-driver",
  "dask",
  "datafusion",
  "duckdb",
  "duckdb-engine",
  "fsspec",
  "GeoAlchemy2",
  "geopandas",
  "graphviz",
  "impyla",
  "lz4",
  "psycopg2",
  "pyarrow",
  "pymysql",
  "pyspark",
  "requests",
  "Shapely",
  "sqlalchemy",
]
clickhouse = ["clickhouse-driver", "clickhouse-cityhash", "lz4"]
dask = ["dask", "pyarrow"]
datafusion = ["datafusion"]
duckdb = ["duckdb", "duckdb-engine", "sqlalchemy"]
geospatial = ["geoalchemy2", "geopandas", "shapely"]
impala = ["fsspec", "impyla", "requests"]
mysql = ["sqlalchemy", "pymysql"]
pandas = []
postgres = ["psycopg2", "sqlalchemy"]
pyspark = ["pyarrow", "pyspark"]
sqlite = ["sqlalchemy"]
visualization = ["graphviz"]

[tool.poetry.plugins."ibis.backends"]
clickhouse = "ibis.backends.clickhouse"
dask = "ibis.backends.dask"
datafusion = "ibis.backends.datafusion"
duckdb = "ibis.backends.duckdb"
impala = "ibis.backends.impala"
mysql = "ibis.backends.mysql"
pandas = "ibis.backends.pandas"
postgres = "ibis.backends.postgres"
pyspark = "ibis.backends.pyspark"
spark = "ibis.backends.pyspark"
sqlite = "ibis.backends.sqlite"

[tool.pytest.ini_options]
doctest_optionflags = [
  "NORMALIZE_WHITESPACE",
  "IGNORE_EXCEPTION_DETAIL",
  "ELLIPSIS"
]
xfail_strict = true
addopts = [
  "--ignore=site-packages",
  "--ignore=dist-packages",
  "--strict-markers",
  "--strict-config",
  "--benchmark-skip",
  "--benchmark-group-by=name",
  "--benchmark-sort=name",
]
filterwarnings = [
  # fail on any warnings that are not explicitly matched below
  "error",
  # pyspark and impala leave sockets open
  "ignore:Exception ignored in:",
  # Future warning from analytics.py
  "ignore:ibis.expr.analytics will be removed in ibis 3.0",
  # poetry
  "ignore:distutils Version classes are deprecated:DeprecationWarning",
  # older importlib metadata that there's no real point in breaking with
  "ignore:SelectableGroups:DeprecationWarning",
  # geopandas warning
  "ignore:The distutils package is deprecated:DeprecationWarning",
  # dask
  "ignore:index is deprecated and will be removed in a future release:FutureWarning",
  "ignore:Concatenating dataframes with unknown divisions:UserWarning",
  'ignore:The Index\._get_attributes_dict method is deprecated:DeprecationWarning',
  'ignore:\nYou did not provide metadata:UserWarning',
  "ignore:`meta` is not specified:UserWarning",
  # pandas
  "ignore:Boolean Series key will be reindexed:UserWarning",
  'ignore:Using \.astype to convert from timezone-(naive|aware) dtype:FutureWarning',
  "ignore:This pattern is interpreted as a regular expression, and has match groups:UserWarning",
  "ignore:The default dtype for empty Series will be 'object':FutureWarning",
  "ignore:the `interpolation=` argument to percentile was renamed to `method=`:DeprecationWarning",
  "ignore:Explicitly passing `name=None`:FutureWarning",
  # the warning suggestion to simply remove the argument in the call isn't correct
  "ignore:The 'check_less_precise' keyword in testing:FutureWarning",
  # numpy
  "ignore:Creating an ndarray from ragged nested sequences:",
  'ignore:`np\.bool` is a deprecated alias for the builtin `bool`:DeprecationWarning',
  # sqlalchemy: most of these can be removed once we have a lower bound of sqlalchemy 1.4
  'ignore:Dialect (postgresql\+psycopg2|sqlite\+pysqlite) does \*not\* support Decimal:',
  "ignore:Class (_regex_extract|_array_search|ST_.*) will not make use of SQL compilation caching:",
  'ignore:Dialect postgresql.psycopg2 will not make use of SQL compilation caching:',
  "ignore:UserDefinedType .* will not produce a cache key because:",
  # duckdb-engine
  'ignore:The URL\.__to_string__ method is deprecated:',
  # ibis
  "ignore:`database` is deprecated:FutureWarning",
  "ignore:`set_database` is deprecated:FutureWarning",
  # ibis on postgres + windows
  "ignore:locale specific date formats:UserWarning",
  # shapely
  "ignore:The array interface is deprecated:",
  "ignore:Iteration over multi-part geometries is deprecated:",
  "ignore:__len__ for multi-part geometries is deprecated:",
  "ignore:An exception was ignored while fetching the attribute `__array_interface__`:DeprecationWarning",
  # thrift by way of impyla
  "ignore: PY_SSIZE_T_CLEAN will be required for '#' formats:DeprecationWarning",
  # spark
  "ignore:In Python .*, it is preferred .* type hints .* UDF:UserWarning",
  # windows
  "ignore:getargs.* The 'u' format is deprecated:DeprecationWarning",
  # findspec
  "ignore: _SixMetaPathImporter.find_spec()",
]
empty_parameter_set_mark = "fail_at_collect"
norecursedirs = ["site-packages", "dist-packages"]
markers = [
  "backend: tests specific to a backend",
  "core: tests that do not required a backend",
  "geospatial: tests for geospatial functionality",
  "hdfs: Hadoop file system tests",
  "min_spark_version: backends tests that require a specific version of pyspark to pass",
  "skip_backends: skip tests on the provided backends",
  "notimpl: functionality that isn't implemented in ibis",
  "notyet: for functionality that isn't implemented in a backend",
  "never: tests for functionality that a backend is likely to never implement",
  "broken: test has exposed existing broken functionality",
  "sqlalchemy_only: tests for SQLAlchemy based backends",
  "clickhouse: ClickHouse tests",
  "dask: Dask tests",
  "datafusion: Apache Datafusion tests",
  "duckdb: DuckDB tests",
  "impala: Apache Impala tests",
  "mysql: MySQL tests",
  "pandas: Pandas tests",
  "postgres: PostgreSQL tests",
  "pyspark: PySpark tests",
  "sqlite: SQLite tests",
]

[tool.black]
line_length = 79
skip_string_normalization = true
extend_exclude = '\.ipynb|\.direnv|result(-\d+)?'

[tool.isort]
ensure_newline_before_comments = true
line_length = 79
multi_line_output = 3
include_trailing_comma = true
profile = "black"
extend_skip = [".direnv"]
extend_skip_glob = ["result*"]
skip_gitignore = true

[tool.pydocstyle]
inherit = false
convention = "numpy"
match_dir = "ibis"
add_ignore = ["D100", "D101", "D102", "D103", "D104", "D105"]

[tool.conda-lock]
channels = ["conda-forge"]

[tool.conda-lock.dependencies]
# conda-lock doesn't map dependencies' extras to conda-forge packages and we
# use the array and dataframe extras from dask
dask = ">=2021.10.0"
gdal = ">=2,<3"

[build-system]
requires = [
  "poetry-core>=1",
  "poetry-dynamic-versioning",
  "setuptools",
  "wheel"
]
build-backend = "poetry.core.masonry.api"
