-e .
aiobotocore==3.1.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.13.0
aiosignal==1.4.0
altair==6.0.0
annotated-types==0.7.0
anyio==4.12.1
anywidget==0.9.21
appdirs==1.4.4
appnope==0.1.4 ; sys_platform == 'darwin'
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arro3-compute==0.6.5
arro3-core==0.6.5
arro3-io==0.6.5
arrow==1.4.0
asn1crypto==1.5.1
asttokens==3.0.1
async-lru==2.1.0
async-timeout==5.0.1 ; python_full_version < '3.11'
atpublic==7.0.0
attrs==25.4.0
aws-error-utils==2.7.0
aws-sso-lib==1.14.0
aws-sso-util==4.33.0
babel==2.18.0
beartype==0.22.9
beautifulsoup4==4.14.3
bitarray==3.8.0
black==26.1.0
bleach==6.3.0
boto3==1.42.30
botocore==1.42.30
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
clickhouse-connect==0.10.0
cloudpickle==3.1.2
codespell==2.4.1
colorama==0.4.6
comm==0.2.3
contourpy==1.3.2 ; python_full_version < '3.11'
contourpy==1.3.3 ; python_full_version >= '3.11'
coverage==7.13.3
cryptography==46.0.4
cycler==0.12.1
databackend==0.0.3
databricks-sql-connector==4.2.4
datafusion==51.0.0
db-dtypes==1.5.0
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
deltalake==1.4.1
deprecated==1.3.1
distlib==0.4.0
doit==0.36.0
duckdb==1.4.4
et-xmlfile==2.0.0
exceptiongroup==1.3.1 ; python_full_version < '3.11'
execnet==2.1.2
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.20.3
fonttools==4.61.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2026.1.0
gcsfs==2026.1.0
geoarrow-rust-core==0.6.1
geoarrow-types==0.3.0
geopandas==1.1.2
google-api-core==2.29.0
google-auth==2.48.0
google-auth-oauthlib==1.2.4
google-cloud-bigquery==3.40.0
google-cloud-bigquery-storage==2.36.0
google-cloud-core==2.5.0
google-cloud-storage==3.9.0
google-cloud-storage-control==1.9.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
graphviz==0.21
greenlet==3.3.1 ; platform_machine == 'AMD64' or platform_machine == 'WIN32' or platform_machine == 'aarch64' or platform_machine == 'amd64' or platform_machine == 'ppc64le' or platform_machine == 'win32' or platform_machine == 'x86_64'
griffe==1.15.0
grpc-google-iam-v1==0.14.3
grpcio==1.76.0
grpcio-status==1.76.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.15.0
hypothesis==6.151.4
identify==2.6.16
idna==3.11
importlib-metadata==8.7.1
importlib-resources==6.5.2
impyla==0.22.0
iniconfig==2.3.0
ipykernel==7.1.0
ipython==8.38.0 ; python_full_version < '3.11'
ipython==9.10.0 ; python_full_version >= '3.11'
ipython-pygments-lexers==1.1.1 ; python_full_version >= '3.11'
ipywidgets==8.1.8
isoduration==20.11.0
itables==2.6.2
jedi==0.19.2
jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
json5==0.13.0
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-cache==1.0.1
jupyter-client==8.8.0
jupyter-core==5.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter-server==2.17.0
jupyter-server-terminals==0.5.4
jupyterlab==4.5.3
jupyterlab-night==0.5.2
jupyterlab-pygments==0.3.0
jupyterlab-server==2.28.0
jupyterlab-widgets==3.0.16
jupyterlite-core==0.7.1
jupyterlite-pyodide-kernel==0.7.0
kiwisolver==1.4.9
lark==1.3.1
lonboard==0.13.0
lz4==4.4.5
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
mizani==0.14.4
multidict==6.7.1
mypy-extensions==1.1.0
mysqlclient==2.2.7
narwhals==2.16.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
nodeenv==1.10.0
notebook-shim==0.2.4
numpy==2.2.6 ; python_full_version < '3.11'
numpy==2.4.2 ; python_full_version >= '3.11'
oauthlib==3.3.1
openpyxl==3.1.5
oracledb==3.4.2
orjson==3.11.7 ; platform_python_implementation != 'PyPy'
overrides==7.7.0 ; python_full_version < '3.12'
packaging==26.0
pandas==2.3.3
pandas-gbq==0.33.0
pandocfilters==1.5.1
parsimonious==0.11.0
parso==0.8.5
parsy==2.2
pathspec==1.0.4
patsy==1.0.2
pexpect==4.9.0 ; sys_platform != 'emscripten' and sys_platform != 'win32'
pillow==12.1.0
pins==0.9.0
pkginfo==1.12.1.2
platformdirs==4.5.1
plotly==6.5.2
plotnine==0.15.3
pluggy==1.6.0
plum-dispatch==2.6.1
polars==1.37.1
polars-runtime-32==1.37.1
pprintpp==0.4.0
pre-commit==4.5.1
prometheus-client==0.24.1
prompt-toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.1
protobuf==6.33.5
psutil==7.2.2
psycopg==3.3.2
psycopg2==2.9.11
psygnal==0.15.1
ptyprocess==0.7.0 ; os_name != 'nt' or (sys_platform != 'emscripten' and sys_platform != 'win32')
pure-eval==0.2.3
pure-sasl==0.6.2
py-cpuinfo==9.0.0
py4j==0.10.9.9
pyarrow==23.0.0
pyarrow-hotfix==0.7
pyasn1==0.6.2
pyasn1-modules==0.4.2
pyathena==3.26.0
pybreaker==1.4.1
pycparser==3.0 ; implementation_name != 'PyPy' or platform_python_implementation == 'PyPy'
pydantic==2.12.5
pydantic-core==2.41.5
pydata-google-auth==1.9.1
pydruid==0.6.9
pyexasol==1.3.0
pygments==2.19.2
pyinstrument==5.1.2
pyjwt==2.11.0
pyodbc==5.3.0
pyogrio==0.12.1
pyopenssl==25.3.0
pyparsing==3.3.2
pyproj==3.7.1 ; python_full_version < '3.11'
pyproj==3.7.2 ; python_full_version >= '3.11'
pyspark==4.0.1
pystack==1.6.0 ; sys_platform == 'linux'
pytest==8.3.5
pytest-benchmark==5.2.3
pytest-clarity==1.0.1
pytest-cov==7.0.0
pytest-deadfixtures==2.2.1
pytest-mock==3.15.1
pytest-pystack==1.0.2 ; sys_platform == 'linux'
pytest-randomly==4.0.1
pytest-repeat==0.9.4
pytest-snapshot==0.9.0
pytest-timeout==2.4.0
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
pytokens==0.4.1
pytz==2025.2
pywinpty==3.0.2 ; os_name == 'nt'
pyyaml==6.0.3
pyzmq==27.1.0
quartodoc==0.11.1
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.3.2
rpds-py==0.30.0
rsa==4.9.1
ruff==0.14.14
s3fs==2026.1.0
s3transfer==0.16.0
scikit-learn==1.7.2 ; python_full_version < '3.11'
scikit-learn==1.8.0 ; python_full_version >= '3.11'
scipy==1.15.3 ; python_full_version < '3.11'
scipy==1.17.0 ; python_full_version >= '3.11'
seaborn==0.13.2
send2trash==2.1.0
setuptools==80.10.2
shapely==2.1.2
singlestoredb==1.16.8
six==1.17.0
snowflake-connector-python==4.2.0
sortedcontainers==2.4.0
soupsieve==2.8.3
sphobjinv==2.3.1.3
sqlalchemy==2.0.46
sqlglot==28.9.0
sqlparams==6.2.0
stack-data==0.6.3
statsmodels==0.14.6
tabulate==0.9.0
tenacity==9.1.2
terminado==0.18.1
threadpoolctl==3.6.0
thrift==0.16.0
thrift-sasl==0.4.3
tinycss2==1.4.0
tomli==2.4.0
tomlkit==0.14.0
toolz==1.1.0
tornado==6.5.4
tqdm==4.67.2
traitlets==5.14.3
trino==0.336.0
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
tzlocal==5.3.1
uri-template==1.3.0
urllib3==2.6.3
virtualenv==20.36.1
watchdog==6.0.0
wcwidth==0.5.3
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.15
wrapt==2.1.1
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
