Creating virtualenv ibis-framework-2c2VoWo5-py3.10 in /home/runner/.cache/pypoetry/virtualenvs
absolufy-imports==0.3.1 ; python_version >= "3.8" and python_version < "3.11"
appnope==0.1.3 ; python_version >= "3.8" and python_version < "3.11" and platform_system == "Darwin" or python_version >= "3.8" and python_version < "3.11" and sys_platform == "darwin"
argcomplete==2.0.0 ; python_version >= "3.8" and python_version < "3.11"
asttokens==2.0.8 ; python_version >= "3.8" and python_version < "3.11"
astunparse==1.6.3 ; python_version >= "3.8" and python_version < "3.9"
atpublic==3.1.1 ; python_version >= "3.8" and python_version < "3.11"
attrs==22.1.0 ; python_version >= "3.8" and python_version < "3.11"
babel==2.10.3 ; python_version >= "3.8" and python_version < "3.11"
backcall==0.2.0 ; python_version >= "3.8" and python_version < "3.11"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
beautifulsoup4==4.11.1 ; python_version >= "3.8" and python_version < "3.11"
bitarray==2.6.0 ; python_version >= "3.8" and python_version < "3.11"
black==22.8.0 ; python_version >= "3.8" and python_version < "3.11"
bleach==5.0.1 ; python_version >= "3.8" and python_version < "3.11"
certifi==2022.9.24 ; python_version >= "3.8" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "3.11" and implementation_name == "pypy"
charset-normalizer==2.1.1 ; python_version >= "3.8" and python_version < "3.11"
click-plugins==1.1.1 ; python_version >= "3.8" and python_version < "3.11"
click==8.1.3 ; python_version >= "3.8" and python_version < "3.11"
clickhouse-cityhash==1.0.2.3 ; python_version >= "3.8" and python_version < "3.11"
clickhouse-driver[numpy]==0.2.4 ; python_version >= "3.8" and python_version < "3.11"
cligj==0.7.2 ; python_version >= "3.8" and python_version < "3.11"
cloudpickle==2.2.0 ; python_version >= "3.8" and python_version < "3.11"
colorama==0.4.5 ; python_version >= "3.8" and python_version < "3.11"
commitizen==2.35.0 ; python_version >= "3.8" and python_version < "3.11"
commonmark==0.9.1 ; python_version >= "3.8" and python_version < "3.11"
coverage[toml]==6.4.4 ; python_version >= "3.8" and python_version < "3.11"
dask[array,dataframe]==2022.7.1 ; python_version >= "3.8" and python_version < "3.11"
datafusion==0.6.0 ; python_version >= "3.8" and python_version < "3.11"
debugpy==1.6.3 ; python_version >= "3.8" and python_version < "3.11"
decli==0.5.2 ; python_version >= "3.8" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.8" and python_version < "3.11"
defusedxml==0.7.1 ; python_version >= "3.8" and python_version < "3.11"
docstring-parser==0.13 ; python_version >= "3.8" and python_version < "3.11"
duckdb-engine==0.6.4 ; python_version >= "3.8" and python_version < "3.11"
duckdb==0.5.1 ; python_version >= "3.8" and python_version < "3.11"
dunamai==1.13.1 ; python_version >= "3.8" and python_version < "3.11"
entrypoints==0.4 ; python_version >= "3.8" and python_version < "3.11"
execnet==1.9.0 ; python_version >= "3.8" and python_version < "3.11"
executing==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
fastjsonschema==2.16.2 ; python_version >= "3.8" and python_version < "3.11"
filelock==3.8.0 ; python_version >= "3.8" and python_version < "3.11"
fiona==1.8.21 ; python_version >= "3.8" and python_version < "3.11"
flake8==5.0.4 ; python_version >= "3.8" and python_version < "3.11"
fsspec==2022.8.2 ; python_version >= "3.8" and python_version < "3.11"
geoalchemy2==0.12.5 ; python_version >= "3.8" and python_version < "3.11"
geopandas==0.11.1 ; python_version >= "3.8" and python_version < "3.11"
ghp-import==2.1.0 ; python_version >= "3.8" and python_version < "3.11"
gitdb==4.0.9 ; python_version >= "3.8" and python_version < "3.11"
gitpython==3.1.27 ; python_version >= "3.8" and python_version < "3.11"
gprof2dot==2022.7.29 ; python_version >= "3.8" and python_version < "3.11"
graphviz==0.20.1 ; python_version >= "3.8" and python_version < "3.11"
greenlet==1.1.3 ; python_version >= "3.8" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version < "3.11"
idna==3.4 ; python_version >= "3.8" and python_version < "3.11"
importlib-metadata==4.12.0 ; python_version >= "3.8" and python_version < "3.11"
importlib-resources==5.9.0 ; python_version >= "3.8" and python_version < "3.9"
impyla[kerberos]==0.17.0 ; python_version >= "3.8" and python_version < "3.11"
iniconfig==1.1.1 ; python_version >= "3.8" and python_version < "3.11"
ipykernel==6.15.3 ; python_version >= "3.8" and python_version < "3.11"
ipython==8.5.0 ; python_version >= "3.8" and python_version < "3.11"
isort==5.10.1 ; python_version >= "3.8" and python_version < "3.11"
jedi==0.18.1 ; python_version >= "3.8" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.8" and python_version < "3.11"
jsonschema==4.16.0 ; python_version >= "3.8" and python_version < "3.11"
jupyter-client==7.3.5 ; python_version >= "3.8" and python_version < "3.11"
jupyter-core==4.11.1 ; python_version >= "3.8" and python_version < "3.11"
jupyterlab-pygments==0.2.2 ; python_version >= "3.8" and python_version < "3.11"
jupytext==1.14.1 ; python_version >= "3.8" and python_version < "3.11"
kerberos==1.3.1 ; python_version >= "3.8" and python_version < "3.11"
locket==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
lxml==4.9.1 ; python_version >= "3.8" and python_version < "3.11"
lz4==4.0.2 ; python_version >= "3.8" and python_version < "3.11"
markdown-it-py==2.1.0 ; python_version >= "3.8" and python_version < "3.11"
markdown==3.3.7 ; python_version >= "3.8" and python_version < "3.11"
markupsafe==2.1.1 ; python_version >= "3.8" and python_version < "3.11"
matplotlib-inline==0.1.6 ; python_version >= "3.8" and python_version < "3.11"
mccabe==0.7.0 ; python_version >= "3.8" and python_version < "3.11"
mdit-py-plugins==0.3.0 ; python_version >= "3.8" and python_version < "3.11"
mdurl==0.1.2 ; python_version >= "3.8" and python_version < "3.11"
mergedeep==1.3.4 ; python_version >= "3.8" and python_version < "3.11"
mike==1.1.2 ; python_version >= "3.8" and python_version < "3.11"
mistune==0.8.4 ; python_version >= "3.8" and python_version < "3.11"
mkdocs-autorefs==0.4.1 ; python_version >= "3.8" and python_version < "3.11"
mkdocs-exclude==1.0.2 ; python_version >= "3.8" and python_version < "3.11"
mkdocs-gen-files==0.4.0 ; python_version >= "3.8" and python_version < "3.11"
mkdocs-git-revision-date-localized-plugin==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
mkdocs-jupyter==0.22.0 ; python_version >= "3.8" and python_version < "3.11"
mkdocs-literate-nav==0.5.0 ; python_version >= "3.8" and python_version < "3.11"
mkdocs-macros-plugin==0.7.0 ; python_version >= "3.8" and python_version < "3.11"
mkdocs-material-extensions==1.0.3 ; python_version >= "3.8" and python_version < "3.11"
mkdocs-material==8.5.3 ; python_version >= "3.8" and python_version < "3.11"
mkdocs-table-reader-plugin==1.1.0 ; python_version >= "3.8" and python_version < "3.11"
mkdocs==1.3.1 ; python_version >= "3.8" and python_version < "3.11"
mkdocstrings==0.17.0 ; python_version >= "3.8" and python_version < "3.11"
multipledispatch==0.6.0 ; python_version >= "3.8" and python_version < "3.11"
munch==2.5.0 ; python_version >= "3.8" and python_version < "3.11"
mypy-extensions==0.4.3 ; python_version >= "3.8" and python_version < "3.11"
mypy==0.971 ; python_version >= "3.8" and python_version < "3.11"
nbclient==0.6.8 ; python_version >= "3.8" and python_version < "3.11"
nbconvert==6.5.3 ; python_version >= "3.8" and python_version < "3.11"
nbformat==5.6.0 ; python_version >= "3.8" and python_version < "3.11"
nest-asyncio==1.5.5 ; python_version >= "3.8" and python_version < "3.11"
numpy==1.23.3 ; python_version >= "3.8" and python_version < "3.11"
packaging==21.3 ; python_version >= "3.8" and python_version < "3.11"
pandas==1.5.0 ; python_version >= "3.8" and python_version < "3.11"
pandocfilters==1.5.0 ; python_version >= "3.8" and python_version < "3.11"
parso==0.8.3 ; python_version >= "3.8" and python_version < "3.11"
parsy==2.0 ; python_version >= "3.8" and python_version < "3.11"
partd==1.3.0 ; python_version >= "3.8" and python_version < "3.11"
pathspec==0.10.1 ; python_version >= "3.8" and python_version < "3.11"
pexpect==4.8.0 ; python_version >= "3.8" and python_version < "3.11" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.8" and python_version < "3.11"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.8" and python_version < "3.9"
platformdirs==2.5.2 ; python_version >= "3.8" and python_version < "3.11"
pluggy==1.0.0 ; python_version >= "3.8" and python_version < "3.11"
poetry-dynamic-versioning==0.17.1 ; python_version >= "3.8" and python_version < "3.11"
pprintpp==0.4.0 ; python_version >= "3.8" and python_version < "3.11"
prompt-toolkit==3.0.31 ; python_version >= "3.8" and python_version < "3.11"
psutil==5.9.2 ; python_version >= "3.8" and python_version < "3.11"
psycopg2==2.9.3 ; python_version >= "3.8" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.8" and python_version < "3.11" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.8" and python_version < "3.11"
pure-sasl==0.6.2 ; python_version >= "3.8" and python_version < "3.11"
py-cpuinfo==8.0.0 ; python_version >= "3.8" and python_version < "3.11"
py4j==0.10.9.5 ; python_version >= "3.8" and python_version < "3.11"
py==1.11.0 ; python_version >= "3.8" and python_version < "3.11"
pyarrow==9.0.0 ; python_version >= "3.8" and python_version < "3.11"
pycodestyle==2.9.1 ; python_version >= "3.8" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.11" and implementation_name == "pypy"
pydocstyle==6.1.1 ; python_version >= "3.8" and python_version < "3.11"
pyflakes==2.5.0 ; python_version >= "3.8" and python_version < "3.11"
pygments==2.13.0 ; python_version >= "3.8" and python_version < "3.11"
pymdown-extensions==9.5 ; python_version >= "3.8" and python_version < "3.11"
pymysql==1.0.2 ; python_version >= "3.8" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.8" and python_version < "3.11"
pyproj==3.4.0 ; python_version >= "3.8" and python_version < "3.11"
pyrsistent==0.18.1 ; python_version >= "3.8" and python_version < "3.11"
pyspark==3.3.0 ; python_version >= "3.8" and python_version < "3.11"
pytest-benchmark==3.4.1 ; python_version >= "3.8" and python_version < "3.11"
pytest-clarity==1.0.1 ; python_version >= "3.8" and python_version < "3.11"
pytest-cov==3.0.0 ; python_version >= "3.8" and python_version < "3.11"
pytest-forked==1.4.0 ; python_version >= "3.8" and python_version < "3.11"
pytest-mock==3.8.2 ; python_version >= "3.8" and python_version < "3.11"
pytest-profiling==1.7.0 ; python_version >= "3.8" and python_version < "3.11"
pytest-randomly==3.12.0 ; python_version >= "3.8" and python_version < "3.11"
pytest-repeat==0.9.1 ; python_version >= "3.8" and python_version < "3.11"
pytest-xdist==2.5.0 ; python_version >= "3.8" and python_version < "3.11"
pytest==7.1.3 ; python_version >= "3.8" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.11"
pytkdocs==0.16.1 ; python_version >= "3.8" and python_version < "3.11"
pytkdocs[numpy-style]==0.16.1 ; python_version >= "3.8" and python_version < "3.11"
pytz-deprecation-shim==0.1.0.post0 ; python_version >= "3.8" and python_version < "3.11"
pytz==2022.2.1 ; python_version >= "3.8" and python_version < "3.11"
pyupgrade==2.38.2 ; python_version >= "3.8" and python_version < "3.11"
pywin32==304 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.8" and python_version < "3.11"
pyyaml-env-tag==0.1 ; python_version >= "3.8" and python_version < "3.11"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.11"
pyzmq==24.0.1 ; python_version >= "3.8" and python_version < "3.11"
questionary==1.10.0 ; python_version >= "3.8" and python_version < "3.11"
regex==2022.9.13 ; python_version >= "3.8" and python_version < "3.11"
requests==2.28.1 ; python_version >= "3.8" and python_version < "3.11"
rich==12.5.1 ; python_version >= "3.8" and python_version < "3.11"
setuptools==65.4.0 ; python_version >= "3.8" and python_version < "3.11"
shapely==1.8.4 ; python_version >= "3.8" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.11"
smmap==5.0.0 ; python_version >= "3.8" and python_version < "3.11"
snowballstemmer==2.2.0 ; python_version >= "3.8" and python_version < "3.11"
soupsieve==2.3.2.post1 ; python_version >= "3.8" and python_version < "3.11"
sqlalchemy==1.4.41 ; python_version >= "3.8" and python_version < "3.11"
sqlglot==6.2.1 ; python_version >= "3.8" and python_version < "3.11"
stack-data==0.5.1 ; python_version >= "3.8" and python_version < "3.11"
tabulate==0.8.10 ; python_version >= "3.8" and python_version < "3.11"
termcolor==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
thrift-sasl==0.4.3 ; python_version >= "3.8" and python_version < "3.11"
thrift==0.11.0 ; python_version >= "3.8" and python_version < "3.11"
tinycss2==1.1.1 ; python_version >= "3.8" and python_version < "3.11"
tokenize-rt==4.2.1 ; python_version >= "3.8" and python_version < "3.11"
toml==0.10.2 ; python_version >= "3.8" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
tomlkit==0.11.4 ; python_version >= "3.8" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.8" and python_version < "3.11"
tornado==6.2 ; python_version >= "3.8" and python_version < "3.11"
traitlets==5.4.0 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.3.0 ; python_version >= "3.8" and python_version < "3.11"
tzdata==2022.2 ; python_version >= "3.8" and python_version < "3.11"
tzlocal==4.2 ; python_version >= "3.8" and python_version < "3.11"
urllib3==1.26.12 ; python_version >= "3.8" and python_version < "3.11"
verspec==0.1.0 ; python_version >= "3.8" and python_version < "3.11"
watchdog==2.1.9 ; python_version >= "3.8" and python_version < "3.11"
wcwidth==0.2.5 ; python_version >= "3.8" and python_version < "3.11"
webencodings==0.5.1 ; python_version >= "3.8" and python_version < "3.11"
wheel==0.37.1 ; python_version >= "3.8" and python_version < "3.9"
zipp==3.8.1 ; python_version >= "3.8" and python_version < "3.11"
