# Keep this in sync with the minimum version of dependencies in pyroject.toml
atpublic==2.3
bidict==0.22.1
numpy==1
pandas==1.2.5
parsy===2
pyarrow==2
pyarrow-hotfix==0.4
python-dateutil==2.8.2
pytz==2022.7
rich==12.4.4
sqlglot==22.5
toolz==0.11
typing-extensions==4.3.0
