version: 2


test: &test
  machine:
    image: circleci/classic:latest
    docker_layer_caching: true
  working_directory: ~/ibis/ci
  steps:
    - checkout:
        path: ~/ibis

    # spin up database services from ci/docker-compose.yml
    - run: docker-compose up -d --no-build postgres impala clickhouse
    # little diagnostics information
    - run: docker ps
    # build a miniconda based docker image with ibis installed
    - run: docker-compose build --pull ibis
    # static source code analysis / validation
    - run: docker-compose run ibis flake8
    # wait for the database services to listen on their ports
    - run: docker-compose run waiter
    # loads test data to the databases
    - run: docker-compose run ibis bash ci/load-data.sh


jobs:
  python27_test:
    <<: *test
    environment:
      - PYTHON_VERSION: 2.7

  python34_test:
    <<: *test
    environment:
      - PYTHON_VERSION: 3.4

  python35_test:
    <<: *test
    environment:
      - PYTHON_VERSION: 3.5

  python36_test:
    <<: *test
    environment:
      - PYTHON_VERSION: 3.6


workflows:
  version: 2
  test:
    jobs:
      - python27_test
      - python34_test
      - python35_test
      - python36_test

