version: 2

environment: &environment
  - IBIS_TEST_DOWNLOAD_BASE_URL: https://storage.googleapis.com/ibis-ci-data
  - IBIS_TEST_DOWNLOAD_NAME: ibis-testing-data.tar.gz
  - IBIS_TEST_DOWNLOAD_DIRECTORY: /tmp/workspace
  - IBIS_TEST_DATA_DIRECTORY: /tmp/workspace/ibis-testing-data

  - IBIS_TEST_POSTGRES_HOST: localhost
  - IBIS_TEST_POSTGRES_USER: ubuntu
  - IBIS_TEST_POSTGRES_PASSWORD: ubuntu
  - IBIS_TEST_POSTGRES_DATABASE: ibis_testing

  - IBIS_TEST_CLICKHOUSE_USER: default
  - IBIS_TEST_CLICKHOUSE_HOST: localhost
  - IBIS_TEST_CLICKHOUSE_PASSWORD: ''
  - IBIS_TEST_CLICKHOUSE_DATABASE: ibis_testing

  - IBIS_TEST_SQLITE_DATABASE: /tmp/workspace/ibis_testing.db

  # The following environment variables are necessary to run impala tests
  - IBIS_TEST_IMPALA_HOST: localhost
  - IBIS_TEST_IMPALA_PORT: 21050
  - IBIS_TEST_NN_HOST: localhost
  - IBIS_TEST_WEBHDFS_PORT: 50070
  - IBIS_TEST_WEBHDFS_USER: ubuntu

  - GOOGLE_BIGQUERY_PROJECT_ID: ibis-gbq

python_test_steps: &python_test_steps
  - checkout
  - attach_workspace:
      at: /tmp/workspace
  - run: cat /tmp/workspace/envars.sh | tee -a $BASH_ENV
  - run: echo 'export ENV_NAME=ibis_${PYTHON_VERSION}' | tee -a $BASH_ENV
  - run: sudo apt-get install -qq clang libboost-dev
  - run: |
      conda env create --quiet \
        --name "${ENV_NAME}" \
        --file "ci/requirements-dev-${PYTHON_VERSION}.yml"
  - run: echo 'source activate ${ENV_NAME}' | tee -a $BASH_ENV
  - run: flake8
  - run: |
      if [ -n "${GCLOUD_SERVICE_KEY}" ]; then
        [ -z "${GOOGLE_APPLICATION_CREDENTIALS}" ] && exit 1
        echo "${GCLOUD_SERVICE_KEY}" | base64 --decode --ignore-garbage > "${GOOGLE_APPLICATION_CREDENTIALS}"

        # confirm that we can connect to the bigquery test project
        python -c 'from google.cloud.bigquery import Client; import os; Client(os.environ["GOOGLE_BIGQUERY_PROJECT_ID"])'
      fi
  - run: python setup.py develop
  - run: |
      dockerize -wait tcp://localhost:5432 \
                -wait tcp://localhost:21050 \
                -wait tcp://localhost:50070 \
                -wait tcp://localhost:9000 \
                -timeout 1m
  - run: sudo apt-get install -qq -y postgresql-client
  - run: testing/datamgr.py download
  - run: testing/datamgr.py sqlite
  - run: testing/datamgr.py postgres
  - run: testing/datamgr.py clickhouse
  - run: testing/impalamgr.py load --data --data-dir "$IBIS_TEST_DATA_DIRECTORY"
  - run: mkdir -p /tmp/reports
  - run: |
      pytest -rsxX \
        --doctest-modules \
        --doctest-ignore-import-errors \
        --junitxml=/tmp/reports/junit.xml \
        --tb=short ibis
  - store_test_results:
      path: /tmp/reports
  - store_artifacts:
      path: /tmp/reports

conda_build_steps: &conda_build_steps
  - checkout
  - attach_workspace:
      at: /tmp/workspace
  - run: cat /tmp/workspace/envars.sh | tee -a $BASH_ENV
  - run: conda install conda-build --yes --channel conda-forge
  - run: |
      conda build conda-recipes/ibis-framework \
        --python "${PYTHON_VERSION}" \
        --channel conda-forge
  - run: mkdir -p /tmp/artifacts
  - run: |
      CONDA_BUILD_TARBALL=$(conda build conda-recipes/ibis-framework \
                              --output \
                              --python "${PYTHON_VERSION}" \
                              --channel conda-forge)
      mv "$CONDA_BUILD_TARBALL" /tmp/artifacts
  - store_artifacts:
      path: /tmp/artifacts

jobs:
  setup_envars:
    environment: *environment
    docker:
      - image: circleci/python:latest
    steps:
      - run: mkdir -p /tmp/workspace
      - run: |
          cat <<EOF | tee /tmp/workspace/envars.sh
          export PATH="/tmp/workspace/miniconda/bin:$PATH"
          export GOOGLE_APPLICATION_CREDENTIALS="\$HOME/gcloud-service-key.json"
          EOF
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - envars.sh

  install_miniconda:
    environment: *environment
    docker:
      - image: circleci/python:latest
    steps:
      - run: mkdir -p /tmp/workspace
      - run: curl -o $HOME/miniconda.sh https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh
      - run: bash $HOME/miniconda.sh -b -p /tmp/workspace/miniconda
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - miniconda

  ################# TESTS ##################

  python27_test:
    environment: *environment
    docker:
      - image: circleci/python:latest
        environment:
          PYTHON_VERSION: 2.7
      - image: cpcloud86/impala:java8-1
      - image: yandex/clickhouse-server
    steps: *python_test_steps

  python34_test:
    environment: *environment
    docker:
      - image: circleci/python:latest
        environment:
          PYTHON_VERSION: 3.4
      - image: cpcloud86/impala:java8-1
      - image: yandex/clickhouse-server
    steps: *python_test_steps

  python35_test:
    environment: *environment
    docker:
      - image: circleci/python:latest
        environment:
          PYTHON_VERSION: 3.5
      - image: cpcloud86/impala:java8-1
      - image: yandex/clickhouse-server
    steps: *python_test_steps

  python36_test:
    environment: *environment
    docker:
      - image: circleci/python:latest
        environment:
          PYTHON_VERSION: 3.6
      - image: cpcloud86/impala:java8-1
      - image: yandex/clickhouse-server
    steps: *python_test_steps

  ################# CONDA BUILD ##################

  python27_conda_build:
    environment: *environment
    docker:
      - image: circleci/python:latest
        environment:
          PYTHON_VERSION: 2.7
    steps: *conda_build_steps

  python34_conda_build:
    environment: *environment
    docker:
      - image: circleci/python:latest
        environment:
          PYTHON_VERSION: 3.4
    steps: *conda_build_steps

  python35_conda_build:
    environment: *environment
    docker:
      - image: circleci/python:latest
        environment:
          PYTHON_VERSION: 3.5
    steps: *conda_build_steps

  python36_conda_build:
    environment: *environment
    docker:
      - image: circleci/python:latest
        environment:
          PYTHON_VERSION: 3.6
    steps: *conda_build_steps

  ################### BENCHMARKING #################
  benchmark:
    docker:
      - image: circleci/python:latest
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run: cat /tmp/workspace/envars.sh | tee -a $BASH_ENV
      - run: pip install asv
      - run: ci/asvconfig.py | tee $HOME/.asv-machine.json
      - run: git remote add upstream git://github.com/ibis-project/ibis.git
      - run: git fetch upstream refs/heads/master
      - run: asv continuous -f 1.5 -e upstream/master "${CIRCLE_SHA1}" || echo > /dev/null


workflows:
  version: 2
  build:
    jobs:
      - setup_envars
      - install_miniconda

      - python27_test:
          requires:
            - setup_envars
            - install_miniconda
      - python34_test:
          requires:
            - setup_envars
            - install_miniconda
      - python35_test:
          requires:
            - setup_envars
            - install_miniconda
      - python36_test:
          requires:
            - setup_envars
            - install_miniconda

      - python27_conda_build:
          requires:
            - setup_envars
            - install_miniconda
      - python34_conda_build:
          requires:
            - setup_envars
            - install_miniconda
      - python35_conda_build:
          requires:
            - setup_envars
            - install_miniconda
      - python36_conda_build:
          requires:
            - setup_envars
            - install_miniconda

      - benchmark:
          requires:
            - setup_envars
            - install_miniconda
