version: '3'
services:

  postgres:
    image: shajekpivotal/ibis-docker-postgres-9.5
    hostname: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: ''

  mssql:
    image: mcr.microsoft.com/mssql/server:2017-latest
    hostname: mssql
    ports:
      - 1433:1433
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: Rootm3plz

  mysql:
    image: mariadb:10.2
    hostname: mysql
    ports:
      - 3307:3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_DATABASE: ibis_testing
      MYSQL_USER: ibis
      MYSQL_PASSWORD: ibis

  impala:
    image: ibisproject/impala:latest
    hostname: impala
    environment:
      PGPASSWORD: postgres
    ports:
      # HDFS
      - 9020:9020
      - 50070:50070
      - 50075:50075
      - 8020:8020
      - 8042:8042
      # Hive
      - 9083:9083

      # Impala
      - 21000:21000
      - 21050:21050
      - 25000:25000
      - 25010:25010
      - 25020:25020
    depends_on:
      - "waiter-postgres"

  clickhouse:
    image: yandex/clickhouse-server:18.12
    hostname: clickhouse
    ports:
      - 8123:8123
      - 9000:9000

  kudu-master:
    image: ibisproject/kudu:latest
    hostname: kudu-master
    networks:
      default:
        aliases:
          - kudu
    cap_add:
      - SYS_TIME
    ports:
      - 7051:7051
      - 8051:8051
    environment:
      KUDU_MASTER: "true"

  kudu-tserver:
    image: ibisproject/kudu:latest
    hostname: kudu-tserver
    cap_add:
      - SYS_TIME
    ports:
      - 7050:7050
      - 8050:8050
    environment:
      KUDU_MASTER: "false"

  omniscidb:
    image: omnisci/core-os-cpu:v4.7.0
    hostname: omniscidb
    ports:
      - 6274:6274
      - 6278:6278
    volumes:
      - ./omniscidb.conf:/omnisci-storage/omnisci.conf

  waiter:
    image: jwilder/dockerize
    command: |
      dockerize -wait tcp://omniscidb:6274
                -waut tcp://mssql:1433
                -wait tcp://mysql:3306
                -wait tcp://postgres:5432
                -wait tcp://impala:21050
                -wait tcp://impala:50070
                -wait tcp://kudu-master:7051
                -wait tcp://kudu-master:8051
                -wait tcp://kudu-tserver:7050
                -wait tcp://kudu-tserver:8050
                -wait tcp://clickhouse:9000
                -wait-retry-interval 5s
                -timeout 10m

  waiter-postgres:
    image: jwilder/dockerize
    command: |
      dockerize -wait tcp://postgres:5432
    depends_on:
      - "postgres"

  ibis:
    image: ibis:${PYTHON_VERSION:-3.6}
    env_file:
      - ./.env
    volumes:
      - /tmp/ibis:/tmp
      - ..:/ibis
    build:
      context: ..
      dockerfile: ci/Dockerfile.dev
      args:
        PYTHON: ${PYTHON_VERSION:-3.6}

  ibis-docs:
    image: ibis-docs:${PYTHON_VERSION:-3.6}
    env_file:
      - ./.env
    volumes:
      - /tmp/ibis:/tmp
      - ..:/ibis
    build:
      context: ..
      dockerfile: ci/Dockerfile.docs
      args:
        PYTHON: ${PYTHON_VERSION:-3.6}
