version: '3'
services:

  postgres:
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres

  mysql:
    image: mariadb:10.2
    ports:
      - 3306:3306
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_DATABASE: ibis_testing
      MYSQL_USER: ibis
      MYSQL_PASSWORD: ibis

  impala:
    image: impala
    hostname: impala
    networks:
      default:
        aliases:
          - quickstart.cloudera
    environment:
      PGPASSWORD: postgres
    ports:
      # HDFS
      - 9020:9020
      - 50070:50070
      - 50075:50075
      - 8020:8020
      - 8042:8042
      # Hive
      - 9083:9083

      # Impala
      - 21000:21000
      - 21050:21050
      - 25000:25000
      - 25010:25010
      - 25020:25020

  clickhouse:
    image: yandex/clickhouse-server:1.1.54388
    ports:
      - 8123:8123
      - 9000:9000

  kudu-master:
    image: ibisproject/kudu:latest
    networks:
      default:
        aliases:
          - kudu
    cap_add:
      - SYS_TIME
    ports:
      - 7051:7051
      - 8051:8051
    environment:
      KUDU_MASTER: "true"

  kudu-tserver:
    image: ibisproject/kudu:latest
    cap_add:
      - SYS_TIME
    ports:
      - 7050:7050
      - 8050:8050
    environment:
      KUDU_MASTER: "false"

  mapd:
    image: mapd/mapd-ce-cpu:v3.6.0
    ports:
      - "9091-9092:9091-9092"
    environment:
      - MAPD_HOST=mapd
      - MAPD_PORT=9091
      - MAPD_DATABASE=ibis_testing
      - MAPD_USER=mapd
    volumes:
      - ./mapd.conf:/mapd-storage/mapd.conf

  waiter:
    image: jwilder/dockerize
    command: |
      dockerize -wait tcp://mapd:9091
                -wait tcp://mysql:3306
                -wait tcp://postgres:5432
                -wait tcp://impala:21050
                -wait tcp://impala:50070
                -wait tcp://kudu-master:7051
                -wait tcp://kudu-master:8051
                -wait tcp://kudu-tserver:7050
                -wait tcp://kudu-tserver:8050
                -wait tcp://clickhouse:9000
                -wait-retry-interval 5s
                -timeout 5m

  ibis:
    image: ibis:${PYTHON_VERSION:-3.6}
    environment:
      IBIS_TEST_DOWNLOAD_DIRECTORY: /tmp
      IBIS_TEST_DATA_DIRECTORY: /tmp/ibis-testing-data
      IBIS_TEST_SQLITE_DATABASE: /tmp/ibis_testing.db
      IBIS_TEST_NN_HOST: impala
      IBIS_TEST_IMPALA_HOST: impala
      IBIS_TEST_IMPALA_PORT: 21050
      IBIS_TEST_WEBHDFS_PORT: 50070
      IBIS_TEST_WEBHDFS_USER: hdfs
      IBIS_TEST_MYSQL_HOST: mysql
      IBIS_TEST_MYSQL_PORT: 3306
      IBIS_TEST_MYSQL_USER: ibis
      IBIS_TEST_MYSQL_PASSWORD: ibis
      IBIS_TEST_MYSQL_DATABASE: ibis_testing
      IBIS_TEST_POSTGRES_HOST: postgres
      IBIS_TEST_POSTGRES_PORT: 5432
      IBIS_TEST_POSTGRES_USER: postgres
      IBIS_TEST_POSTGRES_PASSWORD: postgres
      IBIS_TEST_POSTGRES_DATABASE: ibis_testing
      IBIS_TEST_CLICKHOUSE_HOST: clickhouse
      IBIS_TEST_CLICKHOUSE_PORT: 9000
      IBIS_TEST_CLICKHOUSE_DATABASE: ibis_testing
      IBIS_TEST_MAPD_HOST: mapd
      IBIS_TEST_MAPD_PORT: 9091
      IBIS_TEST_MAPD_DATABASE: ibis_testing
      IBIS_TEST_MAPD_USER: mapd
      IBIS_TEST_MAPD_PASSWORD: HyperInteractive
      GOOGLE_BIGQUERY_PROJECT_ID: ibis-gbq
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/gcloud-service-key.json
    volumes:
      - /tmp/ibis:/tmp
    build:
      context: ..
      dockerfile: ci/Dockerfile
      args:
        PYTHON: ${PYTHON_VERSION:-3.6}
        ENVKIND: ${ENVKIND:-dev}
