project:
  type: website
  output-dir: _output
  preview:
    port: 8000
  post-render:
    - ../gen_redirects.py

highlight-style: ayu
code-annotations: hover

execute:
  warning: false
  error: false

filters:
  - interlinks

interlinks:
  fast: true
  sources:
    python:
      url: https://docs.python.org/3/
    sqlalchemy:
      url: https://docs.sqlalchemy.org/
    arrow:
      url: https://arrow.apache.org/docs/
    pandas:
      url: http://pandas.pydata.org/pandas-docs/stable/

website:
  title: "Ibis"
  site-url: https://ibis-project.org
  description: "the portable Python dataframe library"
  favicon: logo.svg

  # search
  search:
    location: navbar
    type: overlay

  # options
  reader-mode: false
  twitter-card: true
  back-to-top-navigation: true
  repo-url: https://github.com/ibis-project/ibis
  repo-actions: [edit, issue]
  issue-url: https://github.com/ibis-project/ibis/issues/new/choose

  # footer
  page-footer:
    border: false
    left: ""
    right:
      - icon: github
        href: https://github.com/ibis-project
      - icon: slack
        href: https://gitter.im/ibis-dev/Lobby
      - icon: rss
        href: https://ibis-project.org/posts.xml

  # nav
  navbar:
    logo: logo.svg
    tools:
      - icon: github
        menu:
          - text: Source code
            url: https://github.com/ibis-project/ibis
          - text: Report a bug
            url: https://github.com/ibis-project/ibis/issues/new?assignees=&labels=bug&projects=&template=bug-report.yml&title=bug
          - text: Submit a feature request
            url: https://github.com/ibis-project/ibis/issues/new?assignees=&labels=feature&projects=&template=feature-request.yml&title=feat
          - text: Ask the community for help
            url: https://github.com/ibis-project/ibis/discussions/new?category=q-a
    left:
      - sidebar:getting-started
      - sidebar:concepts
      - sidebar:backends
      - sidebar:how-to
      - sidebar:reference
    right:
      - posts.qmd
      - release_notes.md
      - sidebar:contribute

  sidebar:
    - id: ""
    - id: getting-started
      title: "Getting started"
      style: "docked"
      collapse-level: 2
      contents:
        - install.qmd
        - auto: tutorials/*.qmd
    - id: concepts
      title: "Concepts"
      style: "docked"
      collapse-level: 2
      contents:
        - why.qmd
        - auto: concepts/*.qmd
    - id: backends
      title: "Backends"
      style: "docked"
      collapse-level: 2
      contents:
        - support_matrix.qmd
        - auto: backends/*.qmd
    - id: how-to
      title: "How-to"
      style: "docked"
      collapse-level: 2
      contents:
        - auto: "how-to/configure"
        - auto: "how-to/input-output"
        - auto: "how-to/analytics"
        - auto: "how-to/visualization"
    - id: contribute
      title: "Contribute"
      style: "docked"
      collapse-level: 2
      contents:
        - auto: contribute
    - id: presentations
      title: "Presentations"
      style: "docked"
      collapse-level: 2
      contents: presentations
    - id: reference
      title: "Reference"
      style: "docked"
      collapse-level: 2
      contents:
        - auto: reference/*.qmd

format:
  html:
    theme:
      light: [flatly, theme-light.scss]
      dark: [darkly, theme-dark.scss]
    toc: true

quartodoc:
  package: ibis
  title: Reference
  sidebar: reference/_sidebar.yml
  render_interlinks: true
  renderer: _renderer.py
  options:
    member_options:
      signature_name: short
  sections:
    - title: Expressions
      desc: ""
      package: ibis.expr.types
      contents:
        - kind: page
          package: ibis
          path: top_level
          summary:
            name: Top-level APIs
            desc: These methods and objects are available directly on the `ibis` module.
          contents:
            - name: and_
              dynamic: true
            - name: array
              dynamic: true
            - name: asc
              dynamic: true
            - name: case
              dynamic: true
            - name: coalesce
              package: expr.api
            - name: cumulative_window
              dynamic: true
            - name: date
              dynamic: true
            - name: desc
              dynamic: true
            - name: difference
              dynamic: true
            - name: dtype
              dynamic: true
            - name: get_backend
              dynamic: true
            - name: greatest
              package: expr.api
            - name: ifelse
              package: expr.api
            - name: intersect
              dynamic: true
            - name: interval
              dynamic: true
            - name: least
              package: expr.api
            - name: literal
              dynamic: true
            - name: map
              dynamic: true
            - name: memtable
              dynamic: true
            - name: negate
              package: expr.api
            - name: NA
              package: expr.api
            - name: now
              dynamic: true
            - name: "null"
              dynamic: true
            - name: or_
              dynamic: true
            - name: param
              dynamic: true
            - name: show_sql
              dynamic: true
            - name: to_sql
              dynamic: true
            - name: random
              dynamic: true
            - name: range_window
              dynamic: true
            - name: read_csv
              dynamic: true
            - name: read_delta
              dynamic: true
            - name: read_json
              dynamic: true
            - name: read_parquet
              dynamic: true
            - name: row_number
              dynamic: true
            - name: schema
              dynamic: true
            - name: set_backend
              dynamic: true
            - name: struct
              dynamic: true
            - name: table
              dynamic: true
            - name: time
              dynamic: true
            - name: timestamp
              dynamic: true
            - name: trailing_range_window
              dynamic: true
            - name: trailing_window
              dynamic: true
            - name: union
              dynamic: true
            - name: where
              package: expr.api
            - name: window
              dynamic: true

        - kind: page
          path: expression-tables
          package: ibis.expr.types.relations
          summary:
            name: Table expressions
            desc: Table expressions form the basis for most Ibis expressions.
          contents:
            - Table
            - GroupedTable

        - kind: page
          path: expression-generic
          package: ibis.expr.types.generic
          summary:
            name: Generic expression APIs
            desc: These expressions are available on scalars and columns of any element type.
          contents:
            - Value
            - Column
            - Scalar

        - kind: page
          path: expression-numeric
          package: ibis.expr.types.numeric
          summary:
            name: Numeric and boolean expressions
            desc: These APIs are available on numeric and boolean expressions.
          contents:
            - NumericValue
            - NumericColumn
            - IntegerValue
            - IntegerColumn
            - FloatingValue
            - DecimalValue
            - name: BooleanValue
              package: ibis.expr.types.logical

        - kind: page
          path: expression-strings
          package: ibis.expr.types.strings
          summary:
            name: String expressions
            desc: All string operations are valid for both scalars and columns.
          contents:
            - StringValue

        - kind: page
          path: expression-temporal
          package: ibis.expr.types.temporal
          summary:
            name: Temporal expressions
            desc: Temporal operations
          contents:
            - TimestampValue
            - DateValue
            - TimeValue
            - IntervalValue
            - DayOfWeek

        - kind: page
          path: expression-collections
          summary:
            name: Complex type expressions
            desc: These APIs are available on arrays, maps and structs.
          contents:
            - name: ArrayValue
              package: ibis.expr.types.arrays
            - name: StructValue
              package: ibis.expr.types.structs
            - name: MapValue
              package: ibis.expr.types.maps

        - kind: page
          path: expression-geospatial
          package: ibis.expr.types.geospatial
          summary:
            name: Geospatial expressions
            desc: Ibis supports the following geospatial expression APIs
          contents:
            - GeoSpatialValue
            - GeoSpatialColumn

        - kind: page
          summary:
            name: Column selectors
            desc: Convenient column selectors
          path: selectors
          package: ibis.selectors
          contents:
            - where
            - numeric
            - of_type
            - startswith
            - endswith
            - contains
            - matches
            - any_of
            - all_of
            - c
            - across
            - if_any
            - if_all
            - r
            - first
            - last
            - all

        - kind: page
          path: datatypes-schemas
          package: ibis.expr
          summary:
            name: Data types and schemas
            desc: Data types and schemas
          contents:
            - name: Schema
              package: ibis.expr.schema
            - datatypes.core

        - kind: page
          path: config
          package: ibis.config
          summary:
            name: Config
            desc: Ibis configuration
          contents:
            - Options
            - Repr
            - SQL
            - ContextAdjustment
