name: BigQuery

on:
  push:
    branches: master

jobs:
  Tests_bigquery:
    name: Tests pandas
    runs-on: ubuntu-latest
    env:
      BACKENDS: "bigquery"
    strategy:
      matrix:
        python_version: ["3.6", "3.7", "3.8"]
    steps:
    - name: checkout
      uses: actions/checkout@v1

    - name: set up environment
      run: ./ci/setup_env.sh "$PYTHON_VERSION" "$BACKENDS"
      with:
        PYTHON_VERSION: ${{ matrix.pytest_version }}

    - name: set up bigquery credentials
    - run: base64 --decode --ignore-garbage <<< "${{ secrets.GCLOUD_SERVICE_KEY }}" > gcloud-service-key.json

    - name: run tests
      run: PYTEST_BACKENDS=$BACKENDS GOOGLE_APPLICATION_CREDENTIALS=gcloud-service-key.json ./ci/run_tests.sh
