# vim: filetype=yaml
name: Backends

on:
  push:
    # Skip the backend suite if all changes are in the docs directory
    paths-ignore:
      - "docs/**"
    branches:
      - master
      - "*.x.x"
  pull_request:
    # Skip the backend suite if all changes are in the docs directory
    paths-ignore:
      - "docs/**"
    branches:
      - master
      - "*.x.x"

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test_backends:
    name: ${{ matrix.backend.title }} ${{ matrix.os }} python-${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        python-version:
          - "3.8"
          - "3.10"
        backend:
          - name: adbc
            title: ADBC
            sys-deps:
              - cmake
              - ninja-build
          - name: dask
            title: Dask
          - name: duckdb
            title: DuckDB
          - name: pandas
            title: Pandas
          - name: sqlite
            title: SQLite
          - name: datafusion
            title: Datafusion
          - name: pyspark
            title: PySpark
          - name: mysql
            title: MySQL
            services:
              - mysql
          - name: clickhouse
            title: ClickHouse
            services:
              - clickhouse
          - name: postgres
            title: PostgreSQL
            services:
              - postgres
            sys-deps:
              - libgeos-dev
        exclude:
          - os: windows-latest
            backend:
              name: mysql
          - os: windows-latest
            backend:
              name: clickhouse
          - os: windows-latest
            backend:
              name: pyspark
          - os: windows-latest
            backend:
              name: postgres
        include:
          - os: ubuntu-latest
            python-version: "3.8"
            backend:
              name: impala
              title: Impala
              services:
                - impala
                - kudu
              sys-deps:
                - cmake
                - ninja-build
                - krb5-config
                - libkrb5-dev
          - os: ubuntu-latest
            python-version: "3.9"
            backend:
              name: impala
              title: Impala
              services:
                - impala
                - kudu
              sys-deps:
                - cmake
                - ninja-build
                - krb5-config
                - libkrb5-dev
    steps:
      - name: update and install system dependencies
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.backend.sys-deps != null }}
        run: |
          set -euo pipefail

          sudo apt-get update -qq -y
          sudo apt-get install -qq -y build-essential python-dev ${{ join(matrix.backend.sys-deps, ' ') }}

      - name: clone adbc
        uses: actions/checkout@v3
        with:
          repository: apache/arrow-adbc
          path: arrow-adbc
          ref: ef70af6aff8da61bbe2f19f14c607aa6c07caf33

      - name: install sqlite
        if: ${{ matrix.os == 'windows-latest' && matrix.backend.name == 'sqlite' }}
        run: choco install sqlite

      - uses: actions/setup-java@v3
        if: ${{ matrix.backend.name == 'pyspark' }}
        with:
          distribution: temurin
          java-version: 11

      - name: checkout
        uses: actions/checkout@v3
        with:
          path: ibis

      - name: start services
        if: ${{ matrix.backend.services != null }}
        run: docker compose up --wait ${{ join(matrix.backend.services, ' ') }}

      - name: install python
        uses: actions/setup-python@v4
        id: install_python
        with:
          python-version: ${{ matrix.python-version }}

      - uses: syphar/restore-virtualenv@v1
        with:
          requirement_files: poetry.lock
          custom_cache_key_element: ${{ matrix.backend.name }}-${{ steps.install_python.outputs.python-version }}

      - uses: syphar/restore-pip-download-cache@v1
        with:
          requirement_files: poetry.lock
          custom_cache_key_element: ${{ matrix.backend.name }}-${{ steps.install_python.outputs.python-version }}

      - run: python -m pip install --upgrade pip poetry

      - name: install ibis
        if: ${{ matrix.backend.name != 'postgres' }}
        run: poetry install --extras ${{ matrix.backend.name }}

      - name: install ibis
        if: ${{ matrix.backend.name == 'postgres' }}
        run: poetry install --extras ${{ matrix.backend.name }} --extras geospatial

      - uses: extractions/setup-just@v1

      - name: download backend data
        run: just download-data

      - name: run parallel ${{ matrix.backend.name }} tests
        if: ${{ matrix.backend.name != 'pyspark' && matrix.backend.name != 'impala' }}
        run: just ci-check -m ${{ matrix.backend.name }} --numprocesses auto --dist=loadgroup

      - name: run non-parallel ${{ matrix.backend.name }} tests
        if: ${{ matrix.backend.name == 'pyspark' || matrix.backend.name == 'impala' }}
        run: just ci-check -m ${{ matrix.backend.name }}
        env:
          IBIS_TEST_NN_HOST: localhost
          IBIS_TEST_IMPALA_HOST: localhost
          IBIS_TEST_IMPALA_PORT: 21050
          IBIS_TEST_WEBHDFS_PORT: 50070
          IBIS_TEST_WEBHDFS_USER: hdfs

      - name: upload code coverage
        if: success()
        uses: codecov/codecov-action@v3
        with:
          flags: backend,${{ matrix.backend.name }},${{ runner.os }},python-${{ steps.install_python.outputs.python-version }}

      - name: publish test report
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: ${{ matrix.backend.name }}-${{ matrix.os }}-${{ matrix.python-version }}
          path: junit.xml

  test_backends_min_version:
    name: ${{ matrix.backend.title }} Min Version ${{ matrix.os }} python-${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        python-version:
          - "3.8"
          - "3.10"
        backend:
          - name: dask
            title: Dask
            deps:
              - "dask[array,dataframe]@2021.10.0"
          - name: postgres
            title: PostgreSQL
            deps:
              - "psycopg2@2.8.4"
              - "GeoAlchemy2@0.6.3"
              - "geopandas@0.6"
              - "Shapely@1.6"
            services:
              - postgres
        exclude:
          - os: windows-latest
            backend:
              name: postgres
          - python-version: "3.10"
            backend:
              name: postgres
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: install libgeos for shapely
        if: ${{ matrix.backend.name == 'postgres' }}
        run: sudo apt-get install -qq -y build-essential libgeos-dev

      - name: start services
        if: ${{ matrix.backend.services != null }}
        run: docker compose up --wait ${{ join(matrix.backend.services, ' ') }}

      - name: install python
        uses: actions/setup-python@v4
        id: install_python
        with:
          python-version: ${{ matrix.python-version }}

      - run: python -m pip install --upgrade pip poetry

      - name: install minimum versions
        run: poetry add --lock --optional ${{ join(matrix.backend.deps, ' ') }}

      - name: checkout the lock file
        run: git checkout poetry.lock

      - name: lock with no updates
        # poetry add is aggressive and will update other dependencies like
        # numpy and pandas so we keep the pyproject.toml edits and then relock
        # without updating anything except the requested versions
        run: poetry lock --no-update

      - uses: extractions/setup-just@v1

      - name: install ibis
        if: ${{ matrix.backend.name != 'postgres' }}
        run: poetry install --extras ${{ matrix.backend.name }}

      - name: install ibis
        if: ${{ matrix.backend.name == 'postgres' }}
        run: poetry install --extras ${{ matrix.backend.name }} --extras geospatial

      - name: download backend data
        run: just download-data

      - name: run tests
        run: just ci-check -m ${{ matrix.backend.name }} --numprocesses auto --dist=loadgroup

      - name: upload code coverage
        if: success()
        uses: codecov/codecov-action@v3
        with:
          flags: backend,${{ matrix.backend.name }},${{ runner.os }},python-${{ steps.install_python.outputs.python-version }}

      - name: publish test report
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: ${{ matrix.backend.name }}-min-version-${{ matrix.os }}-${{ matrix.python-version }}
          path: junit.xml

  backends:
    # this job exists so that we can use a single job from this workflow to gate merging
    runs-on: ubuntu-latest
    needs:
      - test_backends_min_version
      - test_backends
    steps:
      - run: exit 0
