name: Cloud Backends

on:
  push:
    # Skip the backend suite if all changes are in the docs directory
    paths-ignore:
      - "docs/**"
      - "mkdocs.yml"
    branches:
      - master

permissions:
  # this allows extractions/setup-just to list releases for `just` at a higher
  # rate limit while restricting GITHUB_TOKEN permissions elsewhere
  contents: read

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"

jobs:
  test_backends:
    name: ${{ matrix.backend.title }} ${{ matrix.os }} python-${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.10"
        backend:
          - name: bigquery
            title: BigQuery
            randomly-seed: true

          - name: snowflake
            title: Snowflake
            randomly-seed: true

          - name: snowflake
            key: snowflake-pyarrow
            title: Snowflake + PyArrow
            randomly-seed: false
            deps:
              - "'snowflake-connector-python[pandas]<3'"
              - "--optional"
              - "snowflake-sqlalchemy[pandas]"
              - "--optional"
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: install python
        uses: actions/setup-python@v4
        id: install_python
        with:
          python-version: ${{ matrix.python-version }}

      - uses: syphar/restore-virtualenv@v1
        with:
          requirement_files: poetry.lock
          custom_cache_key_element: ${{ matrix.backend.name }}-${{ steps.install_python.outputs.python-version }}

      - run: python -m pip install --upgrade pip 'poetry>=1.2'

      - name: modify deps
        if: matrix.backend.deps != null
        run: poetry add ${{ join(matrix.backend.deps, ' ') }}

      - uses: syphar/restore-pip-download-cache@v1
        with:
          requirement_files: poetry.lock
          custom_cache_key_element: ${{ matrix.backend.name }}-${{ steps.install_python.outputs.python-version }}

      - name: install ibis
        run: poetry install --without dev --without docs --extras ${{ matrix.backend.name }}

      - uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: download backend data
        run: just download-data

      - uses: google-github-actions/auth@v1
        if: matrix.backend.name == 'bigquery'
        with:
          credentials_json: ${{ secrets.GCP_CREDENTIALS }}

      - name: setup snowflake credentials
        if: matrix.backend.name == 'snowflake'
        run: echo "SNOWFLAKE_URL=${SNOWFLAKE_URL}" >> "$GITHUB_ENV"
        env:
          SNOWFLAKE_URL: ${{ secrets.SNOWFLAKE_URL }}

      - name: "run parallel tests: ${{ matrix.backend.name }}; reset random seed"
        if: matrix.backend.randomly-seed
        run: just ci-check -m ${{ matrix.backend.name }} --numprocesses auto --dist=loadgroup

      - name: "run parallel tests: ${{ matrix.backend.name }}; don't reset random seed"
        if: ${{ !matrix.backend.randomly-seed }}
        run: just ci-check -m ${{ matrix.backend.name }} --numprocesses auto --dist=loadgroup --randomly-dont-reset-seed

      - name: upload code coverage
        if: success()
        uses: codecov/codecov-action@v3
        with:
          flags: backend,${{ matrix.backend.key || matrix.backend.name }},${{ runner.os }},python-${{ steps.install_python.outputs.python-version }}

      - name: publish test report
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: ${{ matrix.backend.key || matrix.backend.name }}-${{ matrix.os }}-${{ matrix.python-version }}
          path: junit.xml
