name: Docs Release Build

on:
  release:
    types:
      - published
jobs:
  docs:
    concurrency: docs-${{ github.repository }}
    runs-on: ubuntu-latest
    steps:
      - name: install nix
        uses: cachix/install-nix-action@v19

      - name: setup cachix
        uses: cachix/cachix-action@v12
        with:
          name: ibis
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,poetry2nix

      - name: Generate a GitHub token
        uses: tibdex/github-app-token@v1
        id: generate_token
        with:
          app_id: ${{ secrets.DOCS_BOT_APP_ID }}
          private_key: ${{ secrets.DOCS_BOT_APP_PRIVATE_KEY }}

      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - name: Configure git info
        run: |
          set -euo pipefail

          git config user.name 'ibis-docs-bot[bot]'
          git config user.email 'ibis-docs-bot[bot]@users.noreply.github.com'

      - name: Pull gh-pages changes
        run: |
          set -euo pipefail

          git fetch origin gh-pages
          git update-ref refs/heads/gh-pages "$(git rev-parse origin/gh-pages)"

      - name: build and push docs on tag
        run: |
          nix develop --ignore-environment -c \
            mkdocs gh-deploy --message "docs(release): ibis@${GITHUB_REF_NAME}" "${GITHUB_REF_NAME}"
