name: Ibis

on:
  push:
    # Skip the test suite if all changes are in the docs directory
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.qmd"
      - ".envrc"
    branches:
      - main
      - "*.x.x"
  pull_request:
    # Skip the test suite if all changes are in the docs directory
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.qmd"
      - ".envrc"
    branches:
      - main
      - "*.x.x"
  merge_group:

permissions:
  contents: read

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  SQLALCHEMY_WARN_20: "1"
  HYPOTHESIS_PROFILE: "ci"

jobs:
  test_core:
    name: Test ${{ matrix.os }} python-${{ matrix.python-version }} pyarrow-${{ matrix.pyarrow }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        pyarrow:
          - true
          - false
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: install python
        uses: actions/setup-python@v6
        id: install_python
        with:
          python-version: ${{ matrix.python-version }}

      - name: install uv
        uses: astral-sh/setup-uv@v7.1.0

      - name: install ${{ matrix.os }} system dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          set -euo pipefail

          sudo apt-get update -y -qq
          sudo apt-get install -y -q build-essential graphviz libgeos-dev freetds-dev

      - name: install ${{ matrix.os }} system dependencies
        if: matrix.os == 'windows-latest'
        run: choco install graphviz

      - name: install numpy/pandas/pyarrow
        if: matrix.pyarrow
        run: pip install numpy pandas pyarrow pyarrow-hotfix

      - name: check imports
        if: matrix.pyarrow
        run: python -c 'import numpy, pandas, pyarrow, pyarrow_hotfix'

      - uses: extractions/setup-just@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: run all core tests and run benchmarks once parallel
        if: matrix.os != 'windows-latest'
        run: just ci-check "--extra visualization --extra decompiler" -m "'core or benchmark'" --numprocesses auto -rfEs

      - name: run all core tests and run benchmarks once serial
        if: matrix.os == 'windows-latest'
        run: just ci-check "--extra visualization --extra decompiler" -m "'core or benchmark'" -rfEs

      - name: upload code coverage
        if: success()
        continue-on-error: true
        uses: codecov/codecov-action@v5
        with:
          flags: core,${{ runner.os }},python-${{ steps.install_python.outputs.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}

  test_shapely_duckdb_import:
    name: Test shapely and duckdb import
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: install python
        uses: actions/setup-python@v6
        with:
          python-version: "3.9"

      - name: install uv
        uses: astral-sh/setup-uv@v7.1.0

      - name: install system dependencies
        run: |
          set -euo pipefail

          sudo apt-get update -y -qq
          sudo apt-get install -y -q build-essential libgeos-dev

      - name: check shapely and duckdb imports
        run: uv run --extra duckdb --extra geospatial python -c 'import shapely.geometry, duckdb'

  test_duckdb_sqlite3_import:
    name: Test sqlite3 and duckdb import
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: install python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: install uv
        uses: astral-sh/setup-uv@v7.1.0

      - name: check duckdb doesn't import sqlite3
        run: uv run --extra duckdb python -c 'import sys, ibis; assert "sqlite3" not in sys.modules; ibis.duckdb.connect(); assert "sqlite3" not in sys.modules'

  test_scrapy_import:
    name: Test import with twisted
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5

      - name: install python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: install uv
        uses: astral-sh/setup-uv@v7.1.0

      - name: check scrapy import
        run: uv run --with scrapy python -c 'import scrapy; import ibis'

      - name: remove virtual env
        run: rm -rf .venv

      - name: check twisted import
        run: uv run --with scrapy python -c 'import twisted.internet.ssl; import ibis'

  test_doctests:
    name: Doctests
    runs-on: ubuntu-latest
    steps:
      - name: install system dependencies
        run: |
          set -euo pipefail

          sudo apt-get update -y -q
          sudo apt-get install -y -q build-essential graphviz libgeos-dev freetds-dev unixodbc-dev

      - name: checkout
        uses: actions/checkout@v5

      - name: install python
        uses: actions/setup-python@v6
        id: install_python
        with:
          python-version: "3.13"

      - name: install uv
        uses: astral-sh/setup-uv@v7.1.0

      - uses: extractions/setup-just@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: run doctests
        run: just doctest --cov=ibis --cov-report=xml:coverage.xml

      - name: check for dead fixtures
        run: uv run --all-extras --group tests pytest --dead-fixtures -m 'not flink'

      - name: upload code coverage
        if: success()
        continue-on-error: true
        uses: codecov/codecov-action@v5
        with:
          flags: core,doctests,${{ runner.os }},python-${{ steps.install_python.outputs.python-version }}
          token: ${{ secrets.CODECOV_TOKEN }}
