# This job intentionally collides with the Nix job in `nix.yml`
# that would be skipped because the paths are ignored.  This is so the `Nix`
# job isn't stuck in "expected" forever when it should be skipped
name: Nix

on:
  push:
    paths:
      - "docs/**"
      - "**/*.md"
      - "**/*.qmd"
      - ".envrc"
    branches:
      - main
      - "*.x.x"
  pull_request:
    paths:
      - "docs/**"
      - "**/*.md"
      - "**/*.qmd"
      - ".envrc"
    branches:
      - main
      - "*.x.x"
  merge_group:

jobs:
  nix:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest # x86_64-linux
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
        include:
          - os: ubuntu-arm64-small
            python-version: "3.12"
          - os: macos-14
            python-version: "3.10"
    steps:
      - run: echo "No build required"
