name: Nix

on:
  push:
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.qmd"
    branches:
      - master
      - "*.x.x"
      - quarto
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - "**/*.qmd"
    branches:
      - master
      - "*.x.x"
      - quarto
  merge_group:

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  nix:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
        include:
          - os: macos-latest
            python-version: "3.10"
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: install nix
        uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: check poetry version
        run: nix run '.#check-poetry-version' -- "1.3"

      - name: setup cachix
        uses: cachix/cachix-action@v12
        with:
          name: ibis
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,poetry2nix
      - name: nix build and test
        run: |
          set -euo pipefail

          version='${{ matrix.python-version }}'
          nix build ".#ibis${version//./}" --fallback --keep-going --print-build-logs

      - name: nix build devShell
        if: github.event_name == 'push' && matrix.os != 'macos-latest'
        run: |
          set -euo pipefail

          version='${{ matrix.python-version }}'
          host_system="$(nix eval --raw 'nixpkgs#stdenv.hostPlatform.system')"
          flake=".#devShells.${host_system}.ibis${version//./}"
          nix build "$flake" --fallback --keep-going --print-build-logs
