name: Conventional commits check

on:
  # runs on `pull_request_target` events so that commenting on the PR is allowed
  pull_request_target:
    types: [opened, edited, synchronize, reopened]

jobs:
  commitlint:
    name: Check PR title conforms to semantic-release
    runs-on: ubuntu-latest
    steps:
      - name: install node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: checkout code to pick up commitlint configuration
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: install deps
        run: npm install "@commitlint/config-conventional"

      - name: run commitlint
        run: npx commitlint --extends "@commitlint/config-conventional" --verbose <<< "$COMMIT_MSG"
        env:
          COMMIT_MSG: |
            ${{ github.event.pull_request.title }}

            ${{ github.event.pull_request.body }}

      - name: find existing comment
        if: failure()
        uses: peter-evans/find-comment@v2
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-regex: '\*\*ACTION NEEDED\*\*.+'

      - name: post a message if the pull request title and body fail `commitlint`
        if: success() && steps.fc.outputs.comment-body == ''
        uses: peter-evans/create-or-update-comment@v3
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          body: |
            **ACTION NEEDED**

            Ibis follows the [Conventional Commits specification](https://www.conventionalcommits.org/en/v1.0.0/) for release automation.

            The PR title and description are used as the merge commit message.

            Please update your PR title and description to match the specification.
