name: Preview Docs

on:
  workflow_dispatch:
    inputs:
      pr-number:
        description: "Pull request number for which to generate a preview"
        required: true
      ref:
        description: "Commit to preview"
        required: true

jobs:
  preview:
    runs-on: ubuntu-latest
    steps:
      - name: install nix
        uses: cachix/install-nix-action@v24
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: setup cachix
        uses: cachix/cachix-action@v13
        with:
          name: ibis
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
          extraPullNames: nix-community,poetry2nix

      - name: checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: run doctest
        # keep HOME because duckdb (which we use for doctests) wants to use
        # that for extensions
        run: nix develop --ignore-environment --keep HOME -c just doctest

      - name: generate api docs
        run: nix develop --ignore-environment -c just docs-apigen --verbose

      - name: build docs
        run: nix develop --ignore-environment --keep HOME -c just docs-render

      - name: check that all frozen computations were done before push
        run: git diff --exit-code --stat

      - name: verify internal links
        run: nix develop --ignore-environment '.#links' -c just checklinks --offline --no-progress

      - name: install netlify cli
        run: npm install -g netlify-cli

      - name: build and push quarto docs to preview url
        run: netlify deploy --dir=docs/_output --alias="pr-${{ github.event.inputs.pr-number }}"
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
