name: Update Dependencies
on:
  schedule:
    # run every 24 hours at midnight
    - cron: "0 */24 * * *"
  workflow_dispatch:
jobs:
  generate_updates:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v2

      - name: output dependency list
        id: set-matrix
        run: |
          set -euo pipefail

          deps="$(jq -rcM '{dep: keys}' < nix/sources.json)"
          echo "::set-output name=matrix::$deps"

  niv_update:
    runs-on: ubuntu-latest
    needs:
      - generate_updates
    strategy:
      matrix: ${{ fromJSON(needs.generate_updates.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v2

      - uses: cachix/install-nix-action@v16
        with:
          nix_path: nixpkgs=channel:nixos-unstable-small

      - name: setup cachix
        uses: cachix/cachix-action@v10
        with:
          name: ibis
          extraPullNames: nix-community,poetry2nix

      - uses: cpcloud/niv-dep-info-action@main
        id: get_current_commit
        with:
          dependency: ${{ matrix.dep }}

      - name: update ${{ matrix.dep }}
        run: nix shell -f '<nixpkgs>' niv -c niv update ${{ matrix.dep }}

      - uses: cpcloud/niv-dep-info-action@main
        id: get_new_commit
        with:
          dependency: ${{ matrix.dep }}

      - name: create an output indicating whether a PR is needed
        id: needs_pr
        run: |
          set -euo pipefail

          echo "::set-output name=did_change::${{ steps.get_current_commit.outputs.rev != steps.get_new_commit.outputs.rev }}"

      - uses: tibdex/github-app-token@v1
        if: ${{ fromJSON(steps.needs_pr.outputs.did_change) }}
        id: generate_token
        with:
          app_id: ${{ secrets.SQUAWK_BOT_APP_ID }}
          private_key: ${{ secrets.SQUAWK_BOT_APP_PRIVATE_KEY }}

      - uses: cpcloud/compare-commits-action@v5.0.13
        if: ${{ fromJSON(steps.needs_pr.outputs.did_change) }}
        id: compare_commits
        with:
          token: ${{ steps.generate_token.outputs.token }}
          owner: ${{ steps.get_new_commit.outputs.owner }}
          repo: ${{ steps.get_new_commit.outputs.repo }}
          basehead: ${{ steps.get_current_commit.outputs.rev }}...${{ steps.get_new_commit.outputs.rev }}
          include-merge-commits: false

      - uses: peter-evans/create-pull-request@v3
        if: ${{ fromJSON(steps.needs_pr.outputs.did_change) }}
        id: create_pr
        with:
          token: ${{ steps.generate_token.outputs.token }}
          commit-message: "chore(deps/${{ matrix.dep }}): update"
          branch: "create-pull-request/update-${{ matrix.dep }}"
          delete-branch: true
          author: "ibis-squawk-bot[bot] <ibis-squawk-bot[bot]@users.noreply.github.com>"
          title: "chore(deps/${{ matrix.dep }}): update"
          body: ${{ steps.compare_commits.outputs.differences }}
          labels: dependencies,autorebase:opt-in

      - uses: juliangruber/approve-pull-request-action@v1.1.0
        if: ${{ fromJSON(steps.needs_pr.outputs.did_change) }}
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          number: ${{ steps.create_pr.outputs.pull-request-number }}

      - uses: peter-evans/enable-pull-request-automerge@v1
        if: ${{ fromJSON(steps.needs_pr.outputs.did_change) }}
        with:
          token: ${{ steps.generate_token.outputs.token }}
          pull-request-number: ${{ steps.create_pr.outputs.pull-request-number }}
          merge-method: rebase
